# --- General options --- #

# Name of website
title: Doyeon's blog

# Short description of your site
description: Let me introduce you to my Machine learning stories!

# Your name to show in the footer
author: Doyeon Yoon

# --- Local development options ---
# If your website is hosted locally rather than on GitHub, then you need to uncomment the next two parameters to set the url and baseurl
# *** If you're not sure what this mean, then leave this section as it is. Only modify the url and baseurl if you know what you're doing!***

# url is the the website domain URL without a trailing slash
url: "https://ydy8989.github.io/"

# baseurl should be an empty string
baseurl: ""

#For my changes
# use meta-title: for the center heading of the page.
# use title: to set the <title> of the web page.
# use subtitle: to set the sub heading for that title(meta-title). NOTE: if(meta-title exists){subtilel visiblity = true}

# --- Navigation bar options --- #

# List of links in the navigation bar
navbar-links:
  Category:
    - REVIEW: "/category/review"
    - NLP : "/category/nlp"
    - 추천시스템: "/category/추천시스템"
    - GNN : "/category/gnn"
    - ETC : "/category/etc"
  Tags: "https://ydy8989.github.io/tags"
  GitHub: "https://github.com/ydy8989"
  About Me: "aboutme"
#  Search: "https://ydy8989.github.io/search"
  Portfolio | CV: #"resume/Doyeon_Yoon_resume.pdf"
    - PORTFOLIO: "/port_cv/portfolio/doyeon_portfolio.pdf"
    - CV: "/port_cv/cv/Doyeon_Yoon_resume.pdf"
#  Tags: "tags"


# [수정필요] 아바타 로고 사용 시에는 이미지 파일을 지정 (이미지 파일 업로드 후, 위치 지정)
avatar: "/assets/img/doyeon.jpg"
# 원형 아바타 이미지 여부 `true` 또는 `false`
round-avatar: true

# Search
#search_full_content: true # can have performance implications for large sites


# --- Footer options --- #
# [수정필요] 웹페이지 하단에 나올 정보를 수정
# (다른 사이트 및 커뮤니티에 대한 링크 정보임. 필요 없는 경우 주석 처리)
# Select the social network links that you want to show in the footer.
# Uncomment the links you want to show and add your information to each one.
# If you don't want to show a link to an RSS feed, set rss to "false".


# If you want to have an image logo in the top-left corner instead of the title text,
# then specify the following parameter. The logo will have a height of 40px
# title-img: /path/to/image

# --- Background colour/image options --- #

# By default, the navigation bar and footer have a light gray background, and the main page
# has a white background. You can specify a different background colour or a background image
# for the navigation bar, the main page, and the footer.
# navbar-col: "orange"
# navbar-img: "/assets/img/bgimage.png"
# footer-col: "blue"
# footer-img: "/assets/img/bgimage.png"
# page-col: "#FF0000"
# page-img: "/assets/img/bgimage.png"

# --- Footer options --- #

# Select the social network links that you want to show in the footer.
# Uncomment the links you want to show and add your information to each one.
# If you don't want to show a link to an RSS feed, set rss to "false".
social-network-links:
  email: "ydy89899@gmail.com"
  github: ydy8989
  facebook: doyuni.bboo.ing
  linkedin: doyeon-yoon


# Select which share links to show in posts
share-links-active:
  facebook: true
  linkedin: true

# How to display the link to the website in the footer
# Remove this if you don't want a link in the footer

# --- Web Statistics Section --- #

# Fill in your Google Analytics ID to track your website using GA

# Google Tag Manager ID
#gtm: ""

# --- Comments --- #

# Fill in your Disqus shortname (NOT the userid) if you want to support Disqus comments


# To use Facebook Comments, fill in a Facebook App ID
# fb_comment_id: ""

# --- Misc --- #

# Facebook App ID
# fb_app_id: ""

# Excerpt Word Length
# Truncates the excerpt to the specified number of words on the index page
excerpt_length: 50

# Character used to separate site title and description in HTML document title
# and RSS feed title
title-separator: "-"

# Ruby Date Format
date_format: "%B %-d, %Y"

# --- Don't need to touch anything below here (but you can if you want) --- #

# Output options (more information on Jekyll's site)
timezone: "Asia/Seoul"
markdown: kramdown
asset_url: /assets
highlighter: rouge
permalink: /:year-:month-:day-:title/
paginate: 5

kramdown:
  input: GFM
#  syntax_hightlighter: rouge

# Default YAML values (more information on Jekyll's site)
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      comments: true  # add comments to all blog posts
      social-share: true # add social media sharing buttons to all blog posts
      readtime: true # add estimated reading time on all blog posts
  -
    scope:
      path: "" # all files
    values:
      layout: "page"
      show-avatar: true

# Use tags index page and make tags on each post clickable
link-tags: true

# Exclude these files from production site
exclude:
#  - CHANGELOG.md
#  - CNAME
  - Dockerfile
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - Vagrantfile

#Meta data for your Posts
metadata:
  _posts:
    - name: "layout"
      field:
        element: "hidden"
        value: "post"
    - name: "title"
      field:
        element: "text"
        label: "Post title"
        placeholder: "Title"
        alterable: true
    - name: "subtitle"
      field:
        element: "textarea"
        label: "Subtitle"
        placeholder: "A description of your post."
        alterable: true
    - name: "date"
      field:
        element: "text"
        label: "Date"
        help: "Enter date of post."
        placeholder: "yyyy-mm-dd"
        alterable: true
    - name: "image"
      field:
        element: "text"
        label: "Image"
        help: "Add a thumbnail image to your post."
        placeholder: "Thumbnail"
        alterable: true
    - name: "published"
      field:
        element: "checkbox"
        label: "Publish"
        help: "Check to publish post, uncheck to hide."

plugins:
  - jekyll-paginate
  - jekyll-sitemap
disqus_short_name: 'ydy8989-github-io' # leave blank if you don't want disqus