---
layout: default
---

<ul class="posts-list">
    {% assign category = page.category | default: page.title %}
    <h3>Posts in {{ category }} ({{ site.categories[category].size }})</h3>
    {% for post in site.categories[category] %}
    	<li>
            <h4>
                <a href="{{site.baseurl}}{{post.url}}">
                	{{post.title}}
                </a>
                  <small>{{post.date | date_to_string}}</small>
            </h4>
	    </li>
    {% endfor %}
</ul>
<!-- -&#45;&#45;-->
<!--layout: default-->
<!-- -&#45;&#45;-->

<!--<ul class="posts-list">-->
<!--  {% assign category = page.category | default: page.title %}-->
<!--  <h4>Posts in {{ category }} ({{ site.categories[category].size }})</h4>-->
<!--  {% for post in site.categories[category] %}-->
<!--    <li>-->
<!--      <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>-->
<!--      <small><time>-->
<!--        {{ post.date | date:"%F" }} {{ post.date | date: "%a" }}.-->
<!--      </time></small>-->
<!--    </li>-->
<!--  {% endfor %}-->
<!--</ul>-->

